header {
  height: auto !important; 
  padding-bottom: 40px !important;
}

#project_info {
  position: static !important; 
  display: block !important;
  margin-top: 20px !important;
  clear: both !important;
}

#downloads {
  display: none !important; 
}
